<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Projet Insta-Lite</h1>
    <div class="inline-block align-middle">
    	<h2 class="font-weight-normal lead" id="desc" style="text-align: justify;">Cette application à pour but de simuler l'application instagram, qui est 
            une version légère de ce dernier, cette application permet de gérer les profiles, les images et les vidéos.
                 </h2>
    </div>
</div>