<button class="add-button" (click)="createImage()" *ngIf="showAdminBoard">Create</button>
<button class="download-all-button" (click)="downlaoadAllImages()">Download all images</button>
<table>
    <thead>
        <th>Title</th>
        <th>Visibility</th>
        <th>Creator</th>
        <th>Creation Date</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let image of images">
            <td>{{image.title}}</td>
            <td>{{image.visibility}}</td>
            <td>{{image.userFirstName + " " + image.userLastName}}</td>
            <td>{{image.creationDate | date:'dd/MM/yyyy'}}</td>
            <td>
                <button class="download-button" (click)="downloadImage(image.url)">Download</button>
                <button *ngIf="showAdminBoard" class="update-button" (click)="updateImage(image.publicId, image.title, image.visibility)">Update</button>
                <button *ngIf="showAdminBoard" class="delete-button" (click)="deleteImage(image.publicId)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
